##database
DB_HOST=****
DB_PORT=****
DB_USERNAME=****
DB_PASSWORD=****
DB_NAME=****
PORT=****

##jwt
JWT_SECRET=****
JWT_REFRESH_SECRET=****
JWT_EXPIRES_IN=****
JWT_REFRESH_EXPIRES_IN=****
TOKEN_SALT=****
PASSWORD_SALT=****
NODE_ENV=****

##email
MAIL_HOST=****
MAIL_PORT=****
MAIL_USER=****
MAIL_PASS=****
MAIL_FROM=****

#Twilio
SMS_BASE_URL=****
SMS_API_KEY=****
SMS_SENDER_NAME=****

FRONTEND_URL=****